<!DOCTYPE html>
<html>
	<head>
		<title>Validating Sorting Networks</title>
	</head>
	<body>
        <p>
            <a target="_blank" href="https://www.reddit.com/r/dailyprogrammer/comments/36m83a/20150520_challenge_215_intermediate_validating/">/r/dailyprogrammer challenge</a>
        </p>

        <form class="validation-form" method="GET" action="/validate">
            <label># of wires: </label>
            <input type="text" name="wc" value="" placeholder="# of wires" />
            <br>

            <label>Comparators (as JSON string): </label>
            <input type="text" name="c" value="" placeholder="comparators" />
            <br>
            <input type="submit" name="Update" value="Update" />
        </form>

        <h3>Example input of valid network:</h3>
        <p># of wires: 4</p>
        <p>Comparators (as JSON string): [["0", "2"], ["1", "3"], ["0", "1"], ["2", "3"], ["1", "2"]]</p>

        <h3>Example input of invalid network:</h3>
        <p># of wires: 8</p>
        <p>Comparators (as JSON string): [["0", "2"], ["1", "3"], ["0", "1"], ["2", "3"], ["1", "2"], ["4", "6"], ["5", "7"], ["4", "5"], ["6", "7"], ["5", "6"], ["0", "4"], ["1", "5"], ["2", "6"], ["3", "7"], ["2", "4"], ["3", "5"], ["1", "2"], ["3", "4"], ["6", "7"]]</p>

        <h1 class="result"></h1>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).on('submit', '.validation-form', function(e) {
                 $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function(response) {
                    	if (response == 1)
                        	$(".result").text("Valid Network");
                        else
                        	$(".result").text("Invalid Network");
                    }
                });
                e.preventDefault();
            });
        </script>
	</body>
</html>